@import '../../variables.scss';

.main-frame{
    width: 30%;
    background-color: $backgroundColor;
    border: 1px solid darken($thirdColor, 20%);
    border-radius: 3px;

    .main-valute {
        margin: $normalPadding;
        font-size: $normalFontSize*3;
        color: darken($warningColor, 30%);
    }
}