$mainColor: #0078d4;
$secondColor: #05b705;
$thirdColor: #f7f7f7;
$backgroundColor: #fffff0;
$textColor: #000000;
$textColorOnDarkBack: #ffffff;
$errorColor: #ff003d;
$warningColor: #FF7100;
$successColor: #05b705;

$normalPadding: 15px;
$normalFontSize: 16px;